h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 20px;
}
#about {
    text-align: center;
    margin-top: -20px;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #e1e1e1;
}
#headerImg {
    background-image: url(https://www.terma.com/media/277931/header.png);
    padding-bottom: 30px;
    background-size: 110%;
    background-color: springgreen;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.row {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.resultLabel{
    padding-left: 10px;
}
#footer {
    text-align: center;
}
div.cityState.col.s4 {
    width: 80%;
    margin: auto;
}
input:focus {
    border-bottom: 1px solid greenyellow !important;
    box-shadow: 0 1px 0 0 greenyellow !important;
}
.input-field>label {
    color: white !important;
}
#city_input, #state_input {
    color: white;
    border-bottom: 1px solid white;
}
.card-image {
    height: 150px;
}

.card-title {
    display: inline;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#stateName {
    font-size: 24px;
}
.col {
    text-align: center;
}
.populationScore, .weather, .labelPop, .humidityScore, .polutionScore, .tempLowAvg, .tempHighAvg, .elecSpend, .gasSpend, .deiselSpend {
    text-align: left;
}
.resultLab {
    font-weight: 700;
}
div#heading.col.s8 {
    width: 100%; 
    display: inline-block;
}
/* 
nav bar to be blue
nav bar buttons to be centered/equally spaced on bar

center footer
*/

@media only screen and (max-width: 500px) {
    div#heading.col.s8 {
        width: 100% !important;
    }
}