h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 20px;
}
#about {
    text-align: center;
    margin-top: -20px;
}
body {
    font-family: 'Quicksand', sans-serif;
}

#footer {
    text-align: center;
}
input:focus {
    border-bottom: 1px solid greenyellow !important;
    box-shadow: 0 1px 0 0 greenyellow !important;
}
.input-field>label {
    color: white !important;
}
#city_input {
    color: white;
}
#state_input {
    color: white;
}
/* 
nav bar to be blue
nav bar buttons to be centered/equally spaced on bar

center footer
*/